In [1]:
import pandas as pd
import numpy as np
import wfdb
import ast
from scipy import stats

In [2]:
def load_raw_data(df, sampling_rate, path):
    if sampling_rate == 100:
        data = [wfdb.rdsamp(path+f) for f in df.filename_lr]
    else:
        data = [wfdb.rdsamp(path+f) for f in df.filename_hr]
    data = np.array([signal for signal, meta in data])
    return data

In [3]:
def aggregate_diagnostic(y_dic):
    tmp = []
    for key in y_dic.keys():
        if key in agg_df.index:
            tmp.append(agg_df.loc[key].diagnostic_class)
    return list(set(tmp))

In [4]:
path = ''
sampling_rate = 500

In [5]:
# Load and convert annotation data
Y = pd.read_csv(path+'ptbxl_database.csv', index_col='ecg_id')
Y.scp_codes = Y.scp_codes.apply(lambda x: ast.literal_eval(x))

In [7]:
# Load scp_statements.csv for diagnostic aggregation
agg_df = pd.read_csv('scp_statements.csv', index_col=0)
agg_df = agg_df[agg_df.diagnostic == 1]

In [8]:
# Apply diagnostic superclass
Y['diagnostic_superclass'] = Y.scp_codes.apply(aggregate_diagnostic)

In [22]:
Y.describe()

,patient_id,age,sex,height,weight,nurse,site,validated_by,strat_fold
count,21837.000000,21748.000000,21837.000000,6983.000000,9429.000000,20328.000000,21819.000000,12426.000000,21837.000000
mean,11255.005953,59.836307,0.478912,166.708292,70.997561,2.292503,1.547229,0.747948,5.505335
std,6234.132489,16.953125,0.499567,10.864935,15.875146,3.254786,4.169753,1.183269,2.875306
min,302.000000,2.000000,0.000000,6.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,5982.000000,50.000000,0.000000,160.000000,60.000000,0.000000,0.000000,0.000000,3.000000
50%,11423.000000,62.000000,0.000000,166.000000,70.000000,1.000000,1.000000,1.000000,6.000000
75%,16614.000000,72.000000,1.000000,174.000000,80.000000,3.000000,2.000000,1.000000,8.000000
max,21797.000000,95.000000,1.000000,209.000000,250.000000,11.000000,50.000000,11.000000,10.000000

In [33]:
Y.tail(20)

,patient_id,age,sex,height,weight,nurse,site,device,recording_date,report,...,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr,diagnostic_superclass
ecg_id,,,,,,,,,,,,,,,,,,,,,
21738,11067.0,76.0,0,NaN,NaN,0.0,0.0,CS100 3,2001-01-17 14:29:48,sinusrhythmus p-verbreiterung lagetyp normal u...,...,NaN,NaN,NaN,NaN,NaN,NaN,6,records100/21000/21738_lr,records500/21000/21738_hr,"[HYP, STTC]"
21739,14330.0,73.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-01-17 16:17:55,tachykardes vorhofflimmern ueberdrehter linkst...,...,NaN,", alles,",NaN,NaN,NaN,NaN,8,records100/21000/21739_lr,records500/21000/21739_hr,"[STTC, CD]"
21740,18998.0,75.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-01-17 21:01:01,vorhofflimmern/-flattern ueberdrehter linkstyp...,...,NaN,NaN,NaN,NaN,NaN,NaN,6,records100/21000/21740_lr,records500/21000/21740_hr,"[MI, CD]"
21741,20088.0,67.0,0,NaN,NaN,0.0,0.0,CS100 3,2001-01-20 12:32:25,tachykardes vorhofflimmern ueberdrehter rechts...,...,NaN,NaN,NaN,NaN,NaN,NaN,6,records100/21000/21741_lr,records500/21000/21741_hr,[CD]
21742,13857.0,73.0,0,NaN,NaN,0.0,0.0,CS100 3,2001-01-20 13:08:55,tachykardes vorhofflimmern linkstyp qrs(t) abn...,...,NaN,NaN,NaN,NaN,"1,alles",NaN,8,records100/21000/21742_lr,records500/21000/21742_hr,"[HYP, MI, STTC]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21833,17180.0,67.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-05-31 09:14:35,ventrikulÄre extrasystole(n) sinustachykardie ...,...,NaN,", alles,",NaN,NaN,1ES,NaN,7,records100/21000/21833_lr,records500/21000/21833_hr,[STTC]
21834,20703.0,93.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-05 11:33:39,sinusrhythmus lagetyp normal qrs(t) abnorm ...,...,NaN,NaN,NaN,NaN,NaN,NaN,4,records100/21000/21834_lr,records500/21000/21834_hr,[NORM]
21835,19311.0,59.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-08 10:30:27,sinusrhythmus lagetyp normal t abnorm in anter...,...,NaN,", I-AVR,",NaN,NaN,NaN,NaN,2,records100/21000/21835_lr,records500/21000/21835_hr,[STTC]
21836,8873.0,64.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-09 18:21:49,supraventrikulÄre extrasystole(n) sinusrhythmu...,...,NaN,NaN,NaN,NaN,SVES,NaN,8,records100/21000/21836_lr,records500/21000/21836_hr,[NORM]
21837,11744.0,68.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-11 16:43:01,sinusrhythmus p-sinistrocardiale lagetyp norma...,...,NaN,", I-AVL,",NaN,NaN,NaN,NaN,9,records100/21000/21837_lr,records500/21000/21837_hr,[NORM]

In [40]:
# Select 'NORM' ECGs only
Y_norm = Y[Y.diagnostic_superclass.apply(lambda lst: any(d == 'NORM' for d in lst))]

In [41]:
Y_norm.describe()

,patient_id,age,sex,height,weight,nurse,site,validated_by,strat_fold
count,9528.000000,9522.000000,9528.000000,3257.000000,5267.000000,8968.000000,9518.000000,5427.000000,9528.000000
mean,11177.749685,52.159735,0.538623,167.077986,71.298652,2.412355,1.569237,0.729501,5.498111
std,6250.410289,17.305979,0.498532,10.742007,15.210457,3.295274,4.483843,1.190244,2.878418
min,306.000000,2.000000,0.000000,66.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,5754.750000,40.000000,0.000000,160.000000,60.000000,0.000000,0.000000,0.000000,3.000000
50%,11220.500000,54.000000,1.000000,166.000000,70.000000,1.000000,1.000000,0.000000,5.000000
75%,16614.500000,65.000000,1.000000,175.000000,80.000000,4.000000,2.000000,1.000000,8.000000
max,21796.000000,94.000000,1.000000,209.000000,200.000000,11.000000,50.000000,10.000000,10.000000

In [50]:
# Drop all NaN values in column 'age' since from the count some values are missing
Y_age = Y_norm.dropna(subset=['age'])

In [53]:
# Select all healthy subjects between 30 and 50 years
Y_age = Y_age[(Y_age['age'] >= 30) & (Y_age['age'] <= 50)]

In [54]:
Y_age.describe()

,patient_id,age,sex,height,weight,nurse,site,validated_by,strat_fold
count,2949.000000,2949.000000,2949.000000,937.000000,1812.000000,2797.000000,2946.000000,1464.000000,2949.000000
mean,11641.396066,41.339437,0.517803,169.005336,73.431567,2.213443,1.456551,0.706967,5.605290
std,6141.273687,5.864863,0.499768,10.216825,16.030453,3.247403,4.688857,1.197882,2.870956
min,339.000000,30.000000,0.000000,67.000000,38.000000,0.000000,0.000000,0.000000,1.000000
25%,6352.000000,37.000000,0.000000,163.000000,62.000000,0.000000,0.000000,0.000000,3.000000
50%,11957.000000,42.000000,1.000000,169.000000,72.000000,1.000000,1.000000,0.000000,6.000000
75%,16796.000000,46.000000,1.000000,176.000000,83.000000,3.000000,1.000000,1.000000,8.000000
max,21796.000000,50.000000,1.000000,209.000000,183.000000,11.000000,50.000000,9.000000,10.000000

In [58]:
# Test what would be the datsete of intersection between known heights and weights
Y_bmi = Y_age.dropna(subset=['height', 'weight'])
print(Y_bmi.shape[0])

909

In [42]:
# Load raw signal data
X = load_raw_data(Y_norm, sampling_rate, path)

In [ ]:
'''
type(X)
stats.describe(X)

# Split data into train and test
test_fold = 10
# Train
X_train = X[np.where(Y.strat_fold != test_fold)]
y_train = Y[(Y.strat_fold != test_fold)].diagnostic_superclass
# Test
X_test = X[np.where(Y.strat_fold == test_fold)]
y_test = Y[Y.strat_fold == test_fold].diagnostic_superclass
'''